<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="CODEROBOT_FILEPATH" value="in.csv"/>
    <add key="PATH_FOLDER1" value="EDI-EXPORT1\"/>
    <add key="PATH_FOLDER2" value="EDI-EXPORT2\"/>
    <add key="PATH_FOLDER3" value=""/>
    <add key="PATH_FOLDER4" value=" "/>
    <add key="PATHDEST" value="EDI-DESTINATION\"/>
  </appSettings>
</configuration>
