<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="CODEROBOT_FILEPATH" value="C:\Users\saibi\Downloads\HOSPITAL_CUSTOMERS_EXHAUSTIVE_LIST_20160413.xlsx"/>
    <add key="PATH_FOLDER1" value="C:\Users\saibi\Downloads\EDI-EXPORT\"/>
    <add key="PATH_FOLDER2" value=""/>
    <add key="PATH_FOLDER3" value=""/>
    <add key="PATH_FOLDER4" value=""/>
    <add key="PATHDEST" value="C:\Users\saibi\Downloads\EDI-DESTINATION\"/>
  </appSettings>
</configuration>
